<html>
<body onload="myFunction()">

    <script type="text/javascript">

        function formAutoSubmit () {
            if(window.location.hash){
                var hash = window.location.hash.substr(1);

        var splitoptions = hash.split('&'),
            code ,state,splitone;

            for(var i= 0; i<splitoptions.length;i++) {

                splitone = splitoptions[i].split('=');

                if(splitone[0] ==='state') {
                    state = splitone[1];
                }
                if(splitone[0] ==='access_token') {
                    code = splitone[1];
                }

            }
            console.log(state);
            console.log(code)


        //var a = 'https://pitangui.amazon.com/spa/skill/account-linking-status.html?vendorId=M28YSGJKH151MO#state=' + state + '&access_token=' + code +'&token_type=Bearer';
            var a = 'https://alexa.amazon.co.jp/api/skill/link/M28YSGJKH151MO?state='+ state +'&code=' + code;
        window.location.replace(a);
            }
            else{
                res.send('hello mohan')
            }

        }

        window.onload = formAutoSubmit;

        </script>

</body>
</html>
